body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
   text-decoration: none;
   color: blue;
}

a:hover {
    font:bold;
    color: red;
}
span {
    color: green;
    font-weight: 100;  
}

.boxes {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    border: solid blue;
    border-radius: 2em;
    width: 30em; 
    position: relative;
}

#boxes1, #boxes2, #boxes3, #boxes4 {
    background-color: cadetblue;
    /*display: inline-block;*/
}

.thing {
    position: absolute;
    height: 50px;
    width: 50px; 
    border-radius: 50px;
    top: 20px;
    left: 140px;
    background-color: chartreuse;
}

h1 {
    color: red; 
}

.original {
    color: yellow; 
}

.additional {
    color: orange; 
}

#rank1 {
    color: blueviolet;
}

#rank2 {
    color: cornflowerblue;
}

#rank3 {
    color: burlywood; 
}

#rank4 {
    color: chocolate;
}

ul {
    color: indigo;
}



